.p-change_password {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    .title {
        align-self: center;
        margin-bottom: auto;
    }

    .changePasswordButton {
        align-self: center;
    }

    .cancelButton {
        align-self: center;
    }

}