.p-login {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  height: 90%;

  .title {
    text-align: center;
  }

  .loginButton {
    align-self: center;
  }
  .resetPassword {
    text-align: center;
  }
  .notRegistered {
    display: flex;
    align-self: center;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    a {
      text-decoration: none;
    }

    a:hover {
      .a-paragraph {
        color: $yellow;
      }
    }
  }
}
