# Environment variables
*.env
.env
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.coverage
.coverage.*
.cache
*.pkl
*.pickle
db.sqlite3
*.mo
*.pot
# If your virtualenv lives in project directory
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*~