.a-paragraph {
  color: $black;
  line-height: 150%;
  font-family: $font-family;
  &.tiny {
    font-size: $tiny_font;
  }

  &.small {
    font-size: $small_font;
  }

  &.medium {
    font-size: $medium_font;
  }

  &.big {
    font-size: $big_font;
  }

  &.white {
    color: $white;
  }
  
  &.dark_green {
    color: $dark_green;
  }
  
  &.medium_green {
    color : $medium_green
  }
  

  &.black {
    color: $black;
  }
}
