.p-profile {
  display: flex;
  gap: 0.5remrem;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;

  .container {
    margin: 6vh 2rem 4rem;
    width: 100%;
    max-width: 100vh;
    height: 50vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: $dark_green;
    border-radius: 10px;
    box-shadow: $black 2px 2px 5px;
  }
}
