$black: #212121;
$white: #f3fcfa;
$red: #e16162;
$yellow: #f9bc60;
$dark_green: #004643;
$medium_green: #00a693;
$light_green: rgb(202.2, 241.8, 233);


$font-family: "Montserrat", sans-serif;

$small_font: 11px;
$medium_font: 14px;
$big_font: 16px;
