$black: #212121;
$white: #ffffff;
$red: #e16162;
$yellow: #f9bc60;
$dark_green: #004643;
$medium_green: #00a693;
$light_green: #f3fcfa;

$font-family: "Montserrat", sans-serif;

$small_font: 11px;
$medium_font: 14px;
$big_font: 16px;
