.o-habitpanel {
  margin: 1rem 1rem 4rem;
  $border_radius: 10px;
  box-shadow: $dark_green 0px 2px 5px;
  border-radius: $border_radius;
  background-color: $dark_green;
  h2 {
    text-align: center;
  }
  .o-habitpanel__content {
    display: flex;

    .o-habitpanel__control {
      width: 40%;
      margin-right: 1em;
    }

    .o-habitpanel__content__counter {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .o-habitpanel__content__footer {
      display: flex;
      flex-direction: column;
      margin: 3rem 0rem 5rem;
      align-items: center;
      gap: 1em;
    }
  }
  .o-habitpanel__content__chart__block {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1em;
    .o-habitpanel__content__frequency {
      display: flex;
      gap: 1em;
      align-self: center;
      margin: 1rem 0rem;
    }
  }
}
