@use "../../../styles/variables" as *;
@use "sass:color";


/* Mixin pour le style des boutons */
@mixin button-style($line-height: 150%, $background-color, $color) {
  font-family: $font-family;
  line-height: $line-height;
  background-color: $background-color;
  color: $color;
  box-shadow: $black 0px 10px 5px -10px;
}

.a-button {
  border-radius: 30px;
  padding: 10px;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;

  &:focus {
    box-shadow: none;
    outline: none;
  }

  &.primary {
    @include button-style(150%, $yellow, $black);

    &:not(:disabled):hover, &:not(:disabled):focus {
      background-color: color.adjust($yellow, $lightness: -10%);
      color: $white;
    }
  }

  &.secondary {
    @include button-style(150%, $red, $black);

    &:not(:disabled):hover, &:not(:disabled):focus {
      background-color: color.adjust($red, $lightness: -10%);
      color: $white;
    }
  }

  &.tertiary {
    @include button-style(150%, $white, $dark_green);
    border: 2px solid $dark_green;

    &:not(:disabled):hover, &:not(:disabled):focus {
      background-color: $light_green;
    }
  }

  &.tiny {
    line-height: 100%;
    font-size: $small_font;
    width: 6rem;
    padding: 5px;
  }

  &.small {
    width: 12rem;
  }

  &.large {
    width: 90%;
  }

  &:disabled {
    background-color: rgb(188.5, 188.5, 188.5);
    color: #1f1f1f;
    cursor: not-allowed;
    opacity: 0.65;
  }

  &:disabled:hover {
    background-color: #d6d6d6;
    color: #525252;
  }
}
