.m-calendar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;

  @media (max-width: 1023px) {
    border-top: $yellow 2px solid;
  }

  .a-paragraph {
    font-size: 120%;
    margin-right: 1rem;
  }
}
