.m-icon-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0;
  cursor: pointer;
  width: 100%;

  .a-paragraph {
    margin: 0;
  }
}

.dropdown {
  width: 95%;
  background-color: $dark_green;
  border-radius: 10px;
  padding: 5px;
  font-size: 22px;
  line-height: 150%;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $white;
  border: 2px solid $medium_green;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  z-index: 1;
  overflow-y: auto;
  margin-top: 2.2rem;
}

.option {
  padding: 10px;
  border-bottom: 1px solid $medium_green;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: $font-family;
  font-size: 18px;

  &:last-child {
    border-bottom: none;
  }

  &:hover,
  &.active {
    background-color: lighten($medium_green, 65%);
  }
}

.dropdown-content.show {
  display: block;
}

.icon-closed {
  transform: rotate(270deg);
  transition: transform 0.3s ease;
}

.icon-opened {
  transform: rotate(360deg);
  transition: transform 0.3s ease;
}
