.p-pausedtracking {
  overflow: auto;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (min-width: 1024px) {
    width: 100%;
  }
  h2 {
    @media(max-width: 390px){
      font-size: 120%;
    }
  }
  .a-paragraph {
    padding: 0rem 1rem;
    font-size: 50%;
  }
}
