@mixin input-style() {
  background-color: $white;
  border: 1px solid $medium_green;
  border-radius: 10px;
  padding: 10px;
  font-size: $medium_font;
  line-height: 150%;
}

.large-input {
  @include input-style();
}

.small-input {
  @include input-style();
  width: 25%;
}
