@mixin input-style($width, $max_width) {
  background-color: $white;
  border: 1px solid $medium_green;
  border-radius: 10px;
  padding:10px;
  width:$width;
  max-width: $max_width;
  font-size: 18px;
  line-height: 150%;
}

.large-input {
  @include input-style(auto, 100%);
}

.small-input {
  @include input-style(auto, 20%);
}
