.l-logged {
  display: flex;
  flex-direction: column;
  background-color: $light-green;
  width: 100%;
  min-height: 100%;
  gap: 1rem;


  .a-logo {
    align-self: center;
    margin-top: 1rem;
  }
}
