@use "../../../styles/variables" as *;

.a-calendar {
  display: flex;
  position: absolute;
  z-index: 2;
  justify-content: flex-end;
  margin: 0em 2em;

  @media (min-width: 1025px) {
    max-width: 25%;
  }
}

.react-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $light_green;
  border-radius: 10px;
  box-shadow: 0 4px 8px $black;
  padding: 5px;

  &__navigation {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-bottom: 10px;

    button {
      background-color: transparent;
      border: none;
      color: $black;
      font-family: $font-family;
      font-size: $big_font !important;
      cursor: pointer;
      transition: color 0.2s ease;

      &:hover {
        color: $dark_green;
      }
    }
  }

  &__month-view {
    &__days {
      background-color: $light_green;
      padding: 10px;

      &__day {
        background-color: $light_green;
        border: none;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $medium_green;
        }
      }
    }

    &__weekdays__weekday {
      background-color: transparent;
      text-align: center;
      border: none;
      color: $dark_green;
      font-size: $small_font;
      cursor: pointer;
      transition: color 0.2s ease;
    }
  }

  &__tile--active,
  &__tile--now {
    border-radius: 5px;
    border: 1px solid $medium_green;
  }
}

// Global abbr styling
abbr {
  text-decoration: none;
  font-family: $font-family;
  font-size: $small_font;
}

// React Calendar Tile styling
.react-calendar__tile {
  text-align: center;
  color: $black;
  font-size: $small_font;
  cursor: pointer;
  border: none;
  background-color: $white;

  &--now {
    background-color: $light_green;
    color: $dark_green;
    border-radius: 5px;
    border: 1px solid $medium_green;
  }

  &--active {
    background-color: $dark_green;
    color: $light_green;
    border-radius: 5px;
  }

  &:disabled {
    color: grey;
  }
  &:disabled:hover {
    background-color: #d6d6d6;
    color: #525252;
  }
}
