.a-logo{
    margin:10px;
    position: absolute;
    top:0;
    &.tiny {
        width: 12rem;
        padding: 5px;
      }
    
      &.small {
        width: 18rem;
      }
    
      &.large {
        width: 24rem;
      }
    
}