.o-navbar {
  display: flex;
  background-color: $dark_green;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
  box-shadow: 10px 13px 35px black;
}
