.a-toast {
  margin-top: 10px;
  border-radius: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  position: absolute;
  top: -1rem;
  left: 5%;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
  z-index: 2;

  &.slide-in {
    opacity: 1;
    transform: translateY(0);
    top: 2rem;
  }

  &.slide-out {
    opacity: 0;
    transform: translateY(-100%);
  }

  &.fail {
    background-color: lighten($red, 25%);
    color: $red;
    border: 2px solid $red;

    .a-icon,
    .a-paragraph {
      color: $red;
    }

    .a-icon {
      margin-left: 50px;
    }

    svg path {
      fill: $red;
    }
  }

  &.success {
    background-color: $light_green;
    color: $dark_green;
    border: 2px solid $dark_green;
    .a-icon,
    .a-paragraph {
      color: $dark_green;
    }

    .a-icon {
      margin-left: 50px;
    }

    svg {
      path {
        fill: $dark_green;
      }
    }
  }

  &.loader {
    background-color: lighten($yellow, 30%);
    color: $yellow;
    border: 2px solid $yellow;
    .a-icon,
    .a-paragraph {
      color: $yellow;
    }

    .a-icon {
      margin-left: 50px;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-size: contain;
      animation: spin 1.2s linear infinite;
    }

    svg {
      path {
        fill: $yellow;
      }
    }
  }
}

.notification-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(10rem);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
