.a-toast {
  margin-top: 10px;
  border-radius: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  position: initial;
  top : -20rem;

  &.slide-in {
    animation: slideIn 0.6s forwards;
  }

  &.slide-out {
    animation: slideOut 0.6s forwards;
  }

  &.fail {
    background-color: lighten($red, 25%);
    color: $red;
    border: 2px solid $red;
    .a-icon,
    .a-paragraph {
      color: $red;
    }

    .a-icon {
      margin-left: 50px;
    }

    svg {
      path {
        fill: $red;
      }
    }
  }

  &.success {
    background-color: $light-green;
    color: $dark-green;
    border: 2px solid $dark-green;
    .a-icon,
    .a-paragraph {
      color: $dark-green;
    }

    .a-icon {
      margin-left: 50px;
    }

    svg {
      path {
        fill: $dark-green;
      }
    }
  }

  &.loader {
    background-color: lighten($yellow, 30%);
    color: $yellow;
    border: 2px solid $yellow;
    .a-icon,
    .a-paragraph {
      color: $yellow;
    }

    .a-icon {
      margin-left: 50px;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-size: contain;
      animation: spin 1.2s linear infinite;
    }

    svg {
      path {
        fill: $yellow;
      }
    }
  }
}

.notification-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}