@mixin heading-style($font-size, $line-height: 150%) {
  font-family: $font-family;
  color: $black;
  line-height: $line-height;
  font-size: $font-size;
}

h1 {
  @include heading-style($h1_font, 120%);
}

h2 {
  @include heading-style($h2_font);
}

h3 {
  @include heading-style($h3_font);
}

h4 {
  @include heading-style($h4_font);
}

.white {
  color: $white;
}

.dark_green {
  color: $dark_green;
}

.medium_green {
  color : $medium_green
}
