.p-delete_account {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  align-self: center;
  width: 100%;

  .title {
    margin: 4rem 2rem 1rem;
    text-align: center;
  }
  .a-button:last-of-type {
    margin-bottom: 6rem;
  }
}
