@use "../../../styles/variables" as *;


.p-about{
    display: flex;
    flex-direction: column;
    @media(min-width:1024px){
        margin:2rem 4rem;
        input{
            width: 40%;
        }
    }
    @media(max-width:1023px){
        margin:2rem 2rem 6rem;
        input{
            width: 80%;
            max-width: 20rem;
        }
    }
    h1 {
        align-self: center;
        width: max-content;
        max-width: 85%;
        font-size: 160%;
        border-bottom: $dark_green solid 2px;
        padding: 0rem 6%;
        text-align: center;

    }
    h3{
        align-self: center;
        border-bottom: $medium_green solid 2px;
        width: fit-content;
        padding: 0rem 0.5rem;
    }
    ul{
        margin:0rem 2rem 1rem
    }
    li{
        margin-left :5px;
        line-height: 150%;
        font-family: $font-family;
        font-size: $medium_font;
    }
    img{
        width: 30%;
        max-width: 100px;
        align-self: center;
        margin:0
    }
    .presentation{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            margin: 0.5rem;
        }
    }
    .creators{
        display: flex;
        gap: 2rem;
        justify-content: center;
        .href-link {
            text-decoration: underline;
          }
        
        .href-link:hover {
            color: $medium_green;
            cursor: pointer;
        }
    }
    .history_title{
        margin-left: 2rem;
    }
}