/* Mixin pour le style des boutons */
@mixin button-style($font-size, $line-height: 150%, $background-color, $color) {
  font-family: $font-family;
  line-height: $line-height;
  font-size: $font-size;
  background-color: $background-color;
  color: $color;
}

.a-button {
  border-radius: 30px;
  padding: 10px;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;

  &:focus {
    box-shadow: none;
    outline: none;
  }

  &.primary {
    @include button-style(18px, 150%, $yellow, $black);

    &:not(:disabled):hover {
      background-color: darken($yellow, 10%);
      color: $white;
    }
  }

  &.secondary {
    @include button-style(18px, 150%, $red, $black);

    &:not(:disabled):hover {
      background-color: darken($red, 10%);
      color: $white;
    }
  }

  &.tertiary {
    @include button-style(18px, 150%, $light_green, $dark_green);
    border: 2px solid $dark_green;

    &:not(:disabled):hover {
      background-color: darken($light_green, 10%);
    }
  }

  &.small {
    width: 12rem;
  }

  &.large {
    width: 20rem;
  }

  // Styles pour le bouton désactivé
  &:disabled {
    background-color: #d6d6d6;
    color: #525252;
    cursor: not-allowed;
    opacity: 0.65;
  }

  // Désactive le hover si le bouton est désactivé
  &:disabled:hover {
    background-color: #d6d6d6;
    color: #525252;
  }
}
