.a-toast {
  border-radius: 10px;
  width: 90%;
  display: flex;
  align-items: center;

  &.fail {
    background-color: lighten($red, 25%);
    color: $red;
    border: 2px solid $red;
    .a-icon,
    .a-paragraph {
      color: $red;
    }

    .a-icon {
      margin-left: 50px;
    }

    svg {
      path {
        fill: $red;
      }
    }
  }

  &.success {
    background-color: $light-green;
    color: $dark-green;
    border: 2px solid $dark-green;
    .a-icon,
    .a-paragraph {
      color: $dark-green;
    }

    .a-icon {
      margin-left: 50px;
    }

    svg {
      path {
        fill: $dark-green;
      }
    }
  }

  &.loader {
    background-color: lighten($yellow, 50%);
    color: $yellow;
    border: 2px solid $yellow;
    .a-icon,
    .a-paragraph {
      color: $yellow;
    }

    .a-icon {
      margin-left: 50px;
    //   background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"%3E%3ClinearGradient id="a11"%3E%3Cstop offset="0" stop-color="%23FF156D" stop-opacity="0"%3E%3C/stop%3E%3Cstop offset="1" stop-color="%23FF156D"%3E%3C/stop%3E%3C/linearGradient%3E%3Ccircle fill="none" stroke="url(%23a11)" stroke-width="30" stroke-linecap="round" stroke-dasharray="0 44 0 44 0 44 0 44 0 360" cx="100" cy="100" r="70" transform-origin="center"%3E%3CanimateTransform type="rotate" attributeName="transform" calcMode="discrete" dur="2s" values="360;324;288;252;216;180;144;108;72;36" repeatCount="indefinite"%3E%3C/animateTransform%3E%3C/circle%3E%3C/svg%3E');
      width: 3%;
      height: 30px;
      background-repeat: no-repeat;
      background-size: contain;
      animation: spin 2s linear infinite;
    }
    @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

    svg {
      path {
        fill: $yellow;
      }
    }
  }
}

.notification-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

// .loader {
//   background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"%3E%3ClinearGradient id="a11"%3E%3Cstop offset="0" stop-color="%23FF156D" stop-opacity="0"%3E%3C/stop%3E%3Cstop offset="1" stop-color="%23FF156D"%3E%3C/stop%3E%3C/linearGradient%3E%3Ccircle fill="none" stroke="url(%23a11)" stroke-width="30" stroke-linecap="round" stroke-dasharray="0 44 0 44 0 44 0 44 0 360" cx="100" cy="100" r="70" transform-origin="center"%3E%3CanimateTransform type="rotate" attributeName="transform" calcMode="discrete" dur="2s" values="360;324;288;252;216;180;144;108;72;36" repeatCount="indefinite"%3E%3C/animateTransform%3E%3C/circle%3E%3C/svg%3E');
//   width: 100px;
//   height: 100px;
//   background-repeat: no-repeat;
//   background-size: contain;
//   animation: spin 2s linear infinite;
// }


