.p-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;  
    width: 100vw;

    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        background-color: $dark_green;
        border-radius: 10px;
        height: 30rem;
        padding: 0 3rem;
    }
}